[type="radio"] {
  position: absolute;
  left: -9999px;
  display: none;

  + label {
    &:hover {
      cursor: pointer;
    }

    &[aria-expanded="true"] {
      pointer-events: none;
    }

    &::before {
      content: '';
      position: absolute;
      left: 15px;
      top: 15px;
      width: 20px;
      height: 20px;
      border-width: 1px;
      border-style: solid;
      border-color: var(--aypex-checkout-border-color);
      border-radius: 100%;
      background: var(--bs-body-bg);
    }

    &::after {
      content: '';
      width: 14px;
      height: 14px;
      background: var(--aypex-checkout-border-color);
      position: absolute;
      top: 18px;
      left: 18px;
      border-radius: 100%;
      transition: all 0.2s ease;
    }
  }

  &:checked + label {
    &::before {
      border-color: var(--bs-primary);
    }

    &::after {
      background: var(--bs-primary);
    }
  }
}
