<div class="toast
            align-items-center
            py-1
            mb-4
            animate__animated
            animate__faster
            animate__fadeInUp
            <%= aypex_checkout_toaste_class(kind: kind) %>"
     role="alert"
     aria-live="assertive"
     data-bs-animation="false"
     aria-atomic="true"
     data-controller="toast">

  <div class="d-flex align-items-center">
    <div class="toast-body text-start flex-fill">
      <span class="fs-6"><%= message %></span>
    </div>

    <div class="d-flex align-items-center">
      <button type="button" class="btn border-0 text-white" data-bs-dismiss="toast" aria-label="Close">
        <%= aypex_checkout_svg_tag "close.svg", size: '33px', class: 'mb-0' %>
      </button>
    </div>
  </div>
</div>
