<div class="checkout-confirm" id="order_details" data-hook>
  <p class="checkout-content-header">
    <%= I18n.t("aypex.checkout.summary").upcase %>
  </p>
  <%= render partial: 'aypex/shared/order_details', locals: { order: @order } %>
</div>
